[standalone]
kafka-sn.example.com

[kafka_controllers]
kafka-01.example.com
kafka-02.example.com
kafka-03.example.com

[kafka_brokers]
kafka-01.example.com
kafka-02.example.com
kafka-03.example.com


[kafka_cluster]
kafka-01.example.com kafka_node_id=1
kafka-02.example.com kafka_node_id=2
kafka-03.example.com kafka_node_id=3