process.roles={% set roles = ['broker'] -%}{% if inventory_hostname in groups['kafka_controllers'] -%}{% set _ = roles.append('controller') %}{% endif -%}{{ roles | join(',') }}

node.id={{ kafka_node_id }}
controller.quorum.bootstrap.servers={% for host in groups['kafka_controllers'] -%}
{{ hostvars[host]['ansible_fqdn'] }}:9093{% if not loop.last %},{% endif %}
{%- endfor %}

controller.quorum.voters={%- if groups['kafka_controllers'] | length == 1 -%}
  {{ hostvars[groups['kafka_controllers'][0]].kafka_node_id }}@{{ hostvars[groups['kafka_controllers'][0]].ansible_fqdn }}:9093
{%- else -%}
  {%- for host in groups['kafka_controllers'] -%}
    {{ hostvars[host].kafka_node_id }}@{{ hostvars[host].ansible_fqdn }}:9093
    {%- if not loop.last %},{% endif -%}
  {%- endfor -%}
{%- endif %}


{# Listeners - internal bindings #}
{% set listener_bindings = [] -%}
{% if inventory_hostname in groups['kafka_brokers'] -%}
  {% set _ = listener_bindings.append("PLAINTEXT://:9092") %}
{% endif -%}
{% if inventory_hostname in groups['kafka_controllers'] -%}
  {% set _ = listener_bindings.append("CONTROLLER://:9093") %}
{% endif -%}
listeners={{ listener_bindings | join(',') }}

{# Advertised listeners - external resolvable addresses #}
{% set adv_listeners = [] -%}
{% if inventory_hostname in groups['kafka_brokers'] -%}
  {% set _ = adv_listeners.append("PLAINTEXT://%s:9092" % ansible_default_ipv4.address) %}
{% endif -%}
{% if inventory_hostname in groups['kafka_controllers'] -%}
  {% set _ = adv_listeners.append("CONTROLLER://%s:9093" % ansible_default_ipv4.address) %}
{% endif -%}
advertised.listeners={{ adv_listeners | join(',') }}

{% if inventory_hostname in groups['kafka_brokers'] %}
inter.broker.listener.name=PLAINTEXT
{% endif %}




{% if inventory_hostname in groups['kafka_controllers'] %}
controller.listener.names=CONTROLLER
{% endif %}

listener.security.protocol.map=CONTROLLER:PLAINTEXT,PLAINTEXT:PLAINTEXT,SSL:SSL,SASL_PLAINTEXT:SASL_PLAINTEXT,SASL_SSL:SASL_SSL

num.network.threads=3
num.io.threads=8

socket.send.buffer.bytes=102400
socket.receive.buffer.bytes=102400
socket.request.max.bytes=104857600

log.dirs={{ kafka_home }}/logs/kraft/

num.partitions={{ partitions_per_topic | defailt(1) }}
num.recovery.threads.per.data.dir=1

offsets.topic.replication.factor={{ topic_repl_factor | default(1) }}

share.coordinator.state.topic.replication.factor={{ coordinator_topic_repl_factor | default(1) }}
share.coordinator.state.topic.min.isr=1

transaction.state.log.replication.factor={{ txn_state_log_repl_factor | default(1) }}
transaction.state.log.min.isr=1

log.retention.hours={{ log_retention_hours | default(168) }}
log.segment.bytes=1073741824
log.retention.check.interval.ms=300000